* {
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 90px 20px 0; /* espaciado 90px de arriba, 20px de los lados y 0 de abajo   */
}
.header {
  background-color: crimson;
  height: 100px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
}
.nav-link {
  color: gainsboro;
  text-decoration: none;
  /* font-weight: 600; */
}
.logo {
  font-size: 35px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 85px;
}
.nav-menu {
  display: flex;
  margin-right: 5px;
  list-style: none;
}
.nav-menu-item {
  font-size: 20px;
  margin: 0 10px;
  text-transform: uppercase;
  width: max-content;
  line-height: 85px;
}
.nav-menu-link {
  padding: 2px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav-menu-link:hover{
  background-color: brown;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}